<div class="navbar-right">
  <a href="#"><i class="fas fa-shopping-cart"></i></a>
  <span class="separator"></span>
  <a href="#"><i class="fas fa-user-circle"></i></a>
  <span class="separator"></span>
  <a href="#"><i class="fas fa-bars"></i></a>
</div>



<div class="navbar">
  <div class="navbar-left">
    <img src="assets/logo.png" alt="OrbigeekGT Logo" class="logo">
  </div>

  <div class="navbar-center">
    <input type="text" placeholder="Buscar" class="search-bar">
  </div>

  <div class="navbar-right">
    <a href="#"><i class="fas fa-shopping-cart"></i></a>
    <a href="#"><i class="fas fa-user-circle"></i></a>
    <a href="#"><i class="fas fa-bars"></i></a>
  </div>
</div>

<div class="navbar-right">
  <a href="#"><i class="fas fa-shopping-cart"></i></a>
  <span class="separator"></span>
  <a href="#"><i class="fas fa-user-circle"></i></a>
  <span class="separator"></span>
  <a href="#"><i class="fas fa-bars"></i></a>
</div>


<!-- Segunda fila con los enlaces de navegación -->


<nav class="navbar-links">
  <div class="links-left">
    <a href="#">Home</a>
    <a href="#">Perfil</a>
    <a href="#" class="active">Catálogo</a>
    <a href="#">Mis Órdenes</a>
  </div>
</nav>
